/* .markdown{
  position: relative;
  background-color:#ffffff;
}
.markdown nav{
  position: absolute;
  top: 0;
  right: -18rem;
} */
.markdown-toc-outline{
        padding-right: 4rem ;
        /* padding-top: 1rem ;
        padding-bottom: 2rem ; */
        margin-left: 15px;
}
.markdown-toc-list{
        list-style-type:circle;
        padding-left: 1rem;
}
.markdown-toc-item{
        /* padding-left: 4rem; */
}
.markdown-toc-link{
        color: #14B8A6;
        text-decoration: none;
}
.markdown-toc-link [data-theme='dark']{
        --tw-text-opacity: 1;
        color: rgb(245 245 245 / var(--tw-text-opacity));
}
.markdown-toc-link:hover{
        color: #2dd4bf;
}